In [1]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\lasis\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [36]:
selected_data = df[['Y2017', 'Area']]

sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

seventh_lowest_area = sum_by_area.nsmallest(7).index[-1]

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [37]:
missing_values = df['Y2014'].isnull().sum()

total_values = len(df['Y2014'])


percentage_missing = (missing_values / total_values) * 100


print("Total number of missing data in 2014:", missing_values)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [38]:
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']


correlations = correlations.drop('Element Code')

least_correlated_year = correlations.idxmin()

print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [40]:
filtered_data = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]


protein_supply_2015 = filtered_data['Y2015'].sum()

print("Total protein supply quantity in Madagascar in 2015:", protein_supply_2015)

Total protein supply quantity in Madagascar in 2015: 173.04999999999998

In [41]:
year_2017_data = df['Y2017']


mean_2017 = year_2017_data.mean()
std_2017 = year_2017_data.std()


mean_2017_rounded = round(mean_2017, 2)
std_2017_rounded = round(std_2017, 2)

print("Mean for the year 2017:", mean_2017_rounded)
print("Standard Deviation for the year 2017:", std_2017_rounded)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [42]:
grouped_data = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()


years_with_highest_sum = grouped_data.idxmax(axis=1)

print("Years with the highest sum of stock variation for each element:")
print(years_with_highest_sum)

Years with the highest sum of stock variation for each element:
Element
Domestic supply quantity                  Y2018
Export Quantity                           Y2017
Fat supply quantity (g/capita/day)        Y2018
Feed                                      Y2018
Food                                      Y2018
Food supply (kcal/capita/day)             Y2018
Food supply quantity (kg/capita/yr)       Y2014
Import Quantity                           Y2017
Losses                                    Y2018
Other uses (non-food)                     Y2017
Processing                                Y2018
Production                                Y2018
Protein supply quantity (g/capita/day)    Y2017
Residuals                                 Y2016
Seed                                      Y2018
Stock Variation                           Y2014
Total Population - Both sexes             Y2018
Tourist consumption                       Y2014
dtype: object

In [43]:
wine_data = df[df['Item'] == 'Wine']
total_wine_2015 = wine_data['Y2015'].sum()
total_wine_2018 = wine_data['Y2018'].sum()

print("Total sum of wine produced in 2015:", total_wine_2015)
print("Total sum of wine produced in 2018:", total_wine_2018)

Total sum of wine produced in 2015: 4251.8099999999995
Total sum of wine produced in 2018: 4039.3199999999997

In [ ]:
unique_countries = df['Area'].nunique()
unique_countries

In [19]:
grouped_data = df.groupby('Element')['Y2017'].sum()

print(grouped_data)

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [26]:
selected_data = df[['Y2017', 'Area']]
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()


highest_sum_area = sum_by_area.idxmax()

print("Area with the highest sum in 2017:", highest_sum_area)

Area with the highest sum in 2017: Nigeria